* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1F2937;
}

body>*:only-child {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/* Prevents elements  touch side borders in screens smaller then 1200 */
.navigation, header {
    padding: 0 50px;
}

.navigation {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
} 

.nav-bar ul {
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
}
.nav-bar a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color:#F9FAF8;
}

header {
    height: 100vh;
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}


.left div {
    max-width: 500px;
}
.left h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f8faf9;
    margin-bottom: 25px;
}
.left p {
    font-size: 20px;
    color: #E5E7EB;
    margin-bottom: 30px;
}
.left button {
    padding: 10px 20px;
    background-color: #3882F6;
    border-radius: 8px;
    border: solid 0px transparent;
    color: #E5E7EB;
    font-weight: 700;
    font-size: 16px;
}

.right img {
    width: 600px;
    justify-self: flex-end;
}


